.container_form{
    margin: 0 auto;
    width: 90%;
    height: auto;
    padding: 2rem;
    background-color: #e8c39e4b;
    border-radius: .4rem;
}

.form_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input_group{
    padding: 2rem 0;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.input_group > p{
    margin: 0;
    font-size: 1.1rem;
}

.input_group > p:first-of-type{
    font-weight: 600;
}

.tittle{
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittle > h2{
    font-size: 2rem;
    color: #ff6c3e;
    font-family: Arial, Helvet
}
.tittle > button{
    padding: .5rem 1.2rem;
    border-radius: 5px;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
}
.tittle > button:hover{
    background-color: rgb(0, 105, 211);
    border: 1px solid rgb(0, 105, 211);
    color: white;
}

@media all and (max-width: 850px){
    .input_group{
        padding: .7rem 0;
        max-width: 100%;
        text-align: center;
    }
}