.bg_login{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_login > div{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_login > div:first-of-type{
    width: 35%;
    border-right: 1px solid rgba(0, 0, 0, 0.308);
    background-color: var(--main-color);
}
.bg_login > div:first-of-type > img{
    width: 50%;
}
.bg_login > div:last-of-type{
    background-color: var(--second-color);
}
.container_form{
    width: 23em;
    height: 20em;
}
.container_form > h2{
    text-align: center;
    color: var(--main-color);
}
.card_form{
    height: 80%;
    background-color: #fff;
    border: 1px solid #00000013;
    border-radius: 5px;
    padding: 1.2em;
    text-align: center;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.247);
}
.card_form > h2{
    margin: 1rem 0;
    font-size: 1.7rem;
}
.card_form > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card_form > div > button{
    margin-top: 2em;
    width: 45%;
    padding: .5rem 0;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 20px;
}
.cursor_pointer:hover{
    cursor: pointer;
}
