.banner{
    margin-top: 60px;
    width: 100%;
    height: 30vh;
    background-image: url("/src/utilites/img/2-LC.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 4rem 0 1rem 17rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}
.container > div{
    margin: 0 2rem 2rem 0;
    width: 30%;
    min-width: 280px;
    max-width: 330px;
    height: 150px;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.507);
    background-color: #ff6c3e;

    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .2s;
}
.container > div:hover{
    scale: 1.05;
    transition: all .3s;
}
.container > div > div:first-of-type{
   width: 110px;
   height: 110px;
   border-radius: 50%;

   overflow: hidden;
}
.container > div > div:first-of-type > img{
   width: 100%;
   height: 105%;
}
.container > div > div:last-of-type{
   width: 50%;
   height: 50%;
}
.container > div > div:last-of-type > span{
   font-size: 1.1rem;
   font-weight: 500;
   color: #000;
}

@media all and (max-width: 770px){
    .container{
        padding: 2rem 0;
        justify-content: start;
    }
    .container > div{
        margin: .6rem auto;
        width: 45%;
        max-width: 220px;
        min-width: 0;
        height: 270px;
        padding: 0 1rem;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .container > div > div:first-of-type{
        margin: 1rem 0;
        width: 110px;
        height: 110px;
        /* border: 3px solid black; */
        border-radius: 50%;

        overflow: hidden;
    }
    .container > div > div:last-of-type{
        padding: .5rem 0;
        width: 100%;
        height: 20%;
        text-align: center;
    }
}