.container{
    padding: 4rem 0 1rem 15rem;
    width: 100%;
}
.tittle{
    margin: 5px auto;
    padding: 2rem 0;
    width: 90%;
}
.tittle > h2{
    margin: 0;
    font-size: 2rem;
    color: #BD0117;
    font-family: Arial, Helvetica, sans-serif;
}
.tittle > div > p{
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container_content{
    margin: 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.container_products{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

@media all and (max-width: 770px){
    .container{
        padding: 4rem 0 1rem 0;
    }
    .container_content{
        margin: 0 auto;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}