.container{
    padding: 4rem 0 1rem 15rem;
    width: 100%;
}
.tittle{
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tittle > h2{
    font-size: 2rem;
    color: #ff6c3e;
    font-family: Arial, Helvetica, sans-serif;
}
.tittle > button{
    padding: .5rem 1.2rem;
    border-radius: 5px;
    background-color: dodgerblue;
    border: none;
    outline: none;
    color: white;
}
.container_content{
    margin: 0 auto;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.select_table{
    margin: 1rem auto;
    width: 90%;
    height: 3.2rem;
    background-color: #E0E0E0;
    border-radius: .2rem;

    display: flex;
}
.select_table > div{
    width: 25%;
    height: 100%;
    font-size: .9rem;
    font-weight: lighter;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.select_table > div:not(div:first-of-type){
    border-left: 1px solid #bbbbbb;
}

.active_option{
    background-color: #ff6c3e;
}

@media all and (max-width: 770px){
    .container{
        padding: 4rem 0 1rem 0;
    }
    .container_content{
        margin: 0 auto;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}