.container_form{
    margin: 0 auto;
    width: 95%;
    height: auto;
    padding: 2rem;
    border: 3px solid red;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_form > div:first-of-type{
    width: 8rem;
    height: 8rem;
    border: 3px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.container_form > div:first-of-type > img{
    width: 100%;
    height: 100%;
}
.container_form > div:first-of-type > input{
    display: none;
}
.form_grid{
    padding-bottom: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr .5fr;
    grid-template-rows: auto auto;
    gap: 2rem 1rem;
    grid-template-areas:
    "name name email email cpf cel"
    "orders created . . . .";
}
.form_grid > div:nth-child(1){
    grid-area: name;
}
.form_grid > div:nth-child(2){
    grid-area: email;
}
.form_grid > div:nth-child(3){
    grid-area: cpf;
}
.form_grid > div:nth-child(4){
    grid-area: cel;
}
.form_grid > div:nth-child(5){
    grid-area: orders;
}
.form_grid > div:nth-child(6){
    grid-area: created;
}
.input_group > p{
    margin: 0;
    font-size: 1.1rem;
}
.input_group > p:first-of-type{
    font-weight: 600;
}
.input_group > input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.178);
    outline: none;
    padding: .3rem;
    border-radius: .2rem;
    background-color: #fff;
}
.input_group > input:focus{
    border: 1px solid rgb(0, 0, 0);
}
.tittle{
    margin: 0 auto;
    padding: 2rem 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tittle > h2{
    font-size: 2rem;
    color: #BD0117;
    font-family: Arial, Helvetica, sans-serif;
}
.tittle > button{
    padding: .5rem 1.2rem;
    border-radius: 5px;
    background-color: dodgerblue;
    border: none;
    outline: none;
    color: white;
}

.buttons_container{
    display: flex;
}
.buttons_container > button{
    margin-left: .5rem;
    padding: .5rem 1.2rem;
    border-radius: .4rem;
}
.buttons_container > button:first-of-type{
    background-color: transparent;
    border: 1px solid rgba(255, 0, 0, 0.829);
    color: rgba(255, 0, 0, 0.829);
}
.buttons_container > button:first-of-type:hover{
    background-color: rgba(255, 0, 0, 0.829);
    border: 1px solid rgba(255, 0, 0, 0.829);
    color: white;
}
.buttons_container > button:last-of-type{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
}
.buttons_container > button:last-of-type:hover{
    background-color: rgb(0, 105, 211);
    border: 1px solid rgb(0, 105, 211);
    color: white;
}
.error{
    font-size: 10px;
    color: red;
}

.label_file{
    position: relative;
    right: -60px;
    top: -7rem;
    z-index: 9;
    cursor: pointer;
}


@media all and (max-width: 850px){
    .form_grid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: .5rem 0;
        grid-template-areas:
        "name"
        "email"
        "cpf"
        "cel"
        "orders"
        "created";
    }
    .buttons_container > button{
        margin-left: .3rem;
        padding: .5rem 1.2rem;
        border-radius: .4rem;
        font-size: .9rem;
    }
}