.container_carrinho_modal{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: calc(100% - 55px);
    background-color: #fff;
    overflow-y: auto;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
    transition: all .2s;
}
.container_carrinho_modal_off{
    position: fixed;
    bottom: 0;
    right: -300px;
    width: 300px;
    height: calc(100% - 55px);
    background-color: #fff;
    overflow-y: auto;
    box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
    transition: all .2s;
}
.cart_header {
    margin-top: 1rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.cart_header > h2{
    font-size: 1.3rem;
}

.cart_products{
    max-height: 60%;
    overflow: auto;
}

.cart_summary{
    padding: 1rem;
    background-color: #F7F7F7;
}  
.cart_summary h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.cart_summary_item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;
}
  
.cart_summary_item span:first-child {
    font-weight: bold;
}
  
.cart_checkout {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px
}
.cart_checkout:hover {
    background-color: #3e8e41;
}

@media all and (max-width: 770px){
    .container_carrinho_modal{
        width: 250px;
    }
}