.bg_modal{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container_modal{
    width: 400px;
    height: 350px;
    background-color: white;
}